.navbar{
    margin-bottom: 125px;
}

.bg-dark {
    width: 100%;
}

.navTxt1, .navTxt2 {
    font-size: 28px;
    font-family: Impact, Charcoal, sans-serif;
    color: white;
}

h1{
    font-size: 28px;
    font-family: Impact, Charcoal, sans-serif;  
}